<?xml version="1.0" encoding="UTF-8"?>
<!--
* CommerceStack
*
* NOTICE OF LICENSE
*
* This source file is subject to the Open Software License (OSL 3.0)
* that is bundled with this package in the file LICENSE.txt.
* It is also available through the world-wide-web at this URL:
* http://opensource.org/licenses/osl-3.0.php
* If you did not receive a copy of the license and are unable to
* obtain it through the world-wide-web, please send an email
* to help@commercestack.com so we can send you a copy immediately.
*
* @category    CommerceStack
* @package     CommerceStack_CsNotification
* @copyright   Copyright (c) 2013-2016 CommerceStack, Inc. (http://www.commercestack.com)
* @license     http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
-->
<config>
	<modules>
		<CommerceStack_CsNotification>
			<version>1.0</version>
		</CommerceStack_CsNotification>
	</modules>
	
	<global>
		<models>
            <adminnotification>
	            <rewrite>
	            	<feed>CommerceStack_CsNotification_Model_AdminNotification_Feed</feed>
	            </rewrite>
            </adminnotification>
		</models>
	</global>
	<default>
		<system>
	    	<csnotification>
	    		<api>
	    			<notification_uri>notification/</notification_uri>
	    		</api>
	    	</csnotification>
	    </system>
	</default>
</config>
